body {
  line-height: 1.5em;
}

.mono {
  font-family: "Inconsolata", Andale Mono, Monaco, Monospace;
}

ul.index {
  padding: 0;
  background-color: transparent;
  border: none;
    -moz-box-shadow: none;
    font-style: normal;
    font-family: "Inconsolata", Andale Mono, Monaco, Monospace;
}

ul ul {
    border: none;
    padding: 0;
    margin: 0 0 0 2em;
}

.hbox {
display: -webkit-box;
-webkit-box-orient: horizontal;
-webkit-box-align: stretch;
display: -moz-box;
-moz-box-orient: horizontal;
-moz-box-align: stretch;
display: box;
box-orient: horizontal;
box-align: stretch;
width: 100%;
}

.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}

span.spacer {
    color: #2e87dd;
    margin: 0 3px 0 5px;
    background-image: url("../i/dot.png");
    background-repeat: repeat-x;
    background-position: left 13px;
}

.spacer {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}

